.container-gradient {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.container-gradient span {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
}

.container-gradient span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  background-color: #1fcc70;
  /* filter: blur(60px); */
  box-shadow: 0 0 10px #1fcc70, 0 0 20px #1fcc70, 0 0 40px #1fcc70,
    0 0 60px #1fcc70, 0 0 80px #1fcc70, 0 0 100px #1fcc70, 0 0 120px #1fcc70,
    0 0 140px #1fcc70;
  border-radius: 50%;
  transition: 1.5s;
  transform: scale(0);
  opacity: 40%;
}

.container-gradient span:hover::before {
  transition: 0s;
  transform: scale(1);
}
